<!DOCTYPE html>
<html lang="ru">
<th:block th:replace="include/header :: head"></th:block>
<body>
<th:block th:replace="include/menu :: menu"></th:block>

<table>
    <caption>TASK LIST</caption>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>STATUS</th>
        <th>PROJECT_ID</th>
        <th>START</th>
        <th>FINISH</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.name}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.status.displayName}"></td>
        <td th:text="${task.projectId}"></td>
        <td th:text="${#dates.format(task.start, 'dd.MM.yyyy')}"></td>
        <td th:text="${#dates.format(task.finish, 'dd.MM.yyyy')}"></td>
        <td><a th:href="@{/task/edit/{id}(id=${task.id})}">EDIT</a></td>
        <td><a th:href="@{/task/delete/{id}(id=${task.id})}">DELETE</a></td>
    </tr>
</table>
<br/>
<form action="/task/create" method="get">
    <button type="submit">CREATE TASK</button>
</form>

<th:block th:replace="include/footer :: foot"></th:block>
</body>
</html>